.taskCollectionList {
    list-style: none;
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.taskCollection {
    display: inline-block;
    list-style: none;
    margin: .5rem .75rem;
    position: relative;
}

.taskCollection > a,
.startButton {
    color: inherit;
    text-decoration: none;
}

.taskCollection > a:hover,
.taskCollection > a:active,
.startButton:hover,
.startButton:active
{
    text-decoration: underline;
}

.taskCollection[aria-checked=true]:before {
    display: inline-block;
    content: "✔";
    position: absolute;
    left: -.6em;
    top: -.5em;
    font-size: 1.5rem;
}

.taskList {
    font-size: .8rem;
    padding: 0 .5rem .5rem .5rem;
    text-align: justify;
}

div[role="separator"] {
    font-size: 1rem;
    text-align: center;
}

.commandBar {
    text-align: center;
}

.startButton {
    font-size: 1.5rem;
    line-height: .5rem;
    vertical-align: -.3rem;
    color: limegreen;
}
